body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
/**
* Nav
*/



.navbar {
    text-transform: uppercase;
}

.navbar .is-dark {
    background: #444;
}

.has-bg-img {
  background: url("./images/pexels-hesham-photography-8796361.jpg");
  background-position: 50% 50%;
  background-size:cover;
}

/**
* Footer
*/

footer {
    margin-top: auto;
  }
.footer{
    flex: 1;
  display: flex;
  flex-direction: column;
}

.footer a {
    margin-bottom: 15px;
    display: inline-block;
    color: #444;
}

h1{
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/**
* Bulma overrides
*/

.input, .button {
    border-radius: 0;
}


/* product list item */
.product-list-item .box .subtitle{
    margin-bottom: 0;
}

.product-list-item .box .price{
    color: black;
}

/**
* Notification toast
*/

@keyframes show-toast {
    0%   {bottom: -100%;}
    20%  {bottom: 50px;}
    80%  {bottom: 50px;}
    100% {bottom: -100%;}
}

.notification.is-toast {
    position: fixed;
    bottom: 100%;
    right: 20px;
    animation-name: show-toast;
    animation-duration: 4s;
}
