{% extends 'storefront/base.html' %}
{% load static %}
{% block title %}Bottled Heaven Scents | Welcome{% endblock %}

{% block content %}

<section class="hero is-large has-bg-img">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title has-text-white">Bottled Heaven Scents</h1>
      <h2 class="subtitle has-text-white">Your favorite stop for best perfume collections</h2>
    </div>
  </div>
</section>

<div class="columns is-multiline mb-6">
  <div class="column is-12 has-text-centered mt-6 mb-6">
    <h2 class="is-size-3">Newest Products</h2>
  </div>


  {% for product in newest_products %}
  {% include 'product/parts/list_item.html' %}
  {% endfor %}
</div>

{% endblock %}